.footer_container {
    margin-top: 50px;
    background-color: rgb(49, 48, 48);
    color: aliceblue;
    display: flex;    
    overflow: hidden;
}
ul {
    display: flex;
    list-style: none;
    gap: 130px;
}

li{
    padding-left: 50px;
}
p {
    width: 20vw;
}

